body{
    background-color: #111;
}

/* Start Menu Section */

#menu-section .card-con{
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

#menu-section .card-con .card{
    width: 100%;
    color: #fff;

    border-radius: 10px;
    overflow: hidden;
}

#menu-section .card-con .card > *{
    border-radius: inherit;
}

#menu-section .card .card-img{
    width: 80%;
    display: block;
    margin: 0 auto -2rem;
}

#menu-section .card .card-body{
    background-color: #222;
    padding: 2.5rem 0.5rem 0.5rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-section .card .card-title{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu-section .card .card-price{
    color: var(--c-y);
    font-size: 18px;
    margin: 0.5rem 0;
}

#menu-section .card .card-btn{
    background-color: rgb(25, 25, 25);
    color: #fff;

    font-size: 13px;

    padding: 10px 15px;
    border-radius: 5px;
   
    text-transform: capitalize;

    display: flex;
    align-items: center;
}

#menu-section .card .card-btn .text{
    margin-right: 5px;
}

#menu-section .card .card-btn:not(.disabled):active{
    transform: scale(0.95);
}

#menu-section .card .card-btn.disabled{
    opacity: 0.5;
}

@media(max-width: 992px){
    #menu-section .card-con{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 768px){
    #menu-section .card-con{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 576px){
    #menu-section .card-con{
        grid-template-columns: repeat(2, 1fr);
    }

    #menu-section .card .card-title{
        font-size: 13px;
    }
    
    #menu-section .card .card-price{
       font-size: 16px;
    }
}

/* End Menu Section */

/* Start Basket Shopping Section */

#basket-shopping-card-section .card-con{
    height: 75vh;
    position: relative;
}

#basket-shopping-card-section .card-header img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

#basket-shopping-card-section .card-body{
    display: flex;
    align-items: center;
}

#basket-shopping-card-section .card-body{
    justify-content: space-between;
}

#basket-shopping-card-section .card-body .price{
    text-align: center;
}

#basket-shopping-card-section .qc-control-con{
    margin: 0 1rem;
}

#basket-shopping-card-section .final-total-con{
    width: 100%;
    height: 15vh;
    background-color: #222;
    border-radius: 0.5rem 0.5rem 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#basket-shopping-card-section .final-total-con .final-total{
    font-size: 18px;
    letter-spacing: 1px;
}

#basket-shopping-card-section .final-total-con .order-btn{
    font-size: 18px;
    margin-top: 0.5rem;
}

@media (max-width: 768px){
    #basket-shopping-card-section .card-header img{
        width: 40px;
        height: 40px;
    }
}

/* End Basket Shopping Section */